/* Estilos para el formulario de registro solo en la página de promociones */
body {
    background-color: #4f1f96;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.contenedor-formulario {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4f1f96;
}

.campo {
    margin-bottom: 20px;
}

label {
    color: #4f1f96;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #4f1f96;
    border-radius: 4px;
    color: #4f1f96;
}

input[type="submit"],
input[type="reset"] {
    background-color: #4f1f96;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #3a146d;
}

.boton-menu {
    text-decoration: none;
    color: #4f1f96;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.boton-menu:hover {
    color: #3a146d;
}